/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 14, 2017, 6:02:17 PM
    Author     : Daniel Losvik
*/


/*
-----------------------------------------------------------------------------
General css
*/

.title {
    font-size: 20px;
    padding: 5px;
}

.container {
    padding: 16px;
}

.form {
    border: 3px solid #f1f1f1;
    width: 40%;
}

.input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button-green {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.button-green:hover {
    opacity: 0.8;
}

.text-center {
    text-align: center;
}




/*
-----------------------------------------------------------------------------
Navbar css
*/

.ul-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.li-navbar {
    border-right:1px solid #bbb;
    float: left;
}

.li-navbar-active {
    background-color: #4CAF50;
    border-right:1px solid #bbb;
    float: left;
}

.li-navbar-login {
    float: right;
}

.li-navbar-login-active {
    background-color: #4CAF50;
    float: right;
}



li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li-navbar:hover:not(.li-navbar-active) {
    background-color: #111;
}

.li-navbar:hover:not(.li-navbar-login-active) {
    background-color: #111;
}




/*
-----------------------------------------------------------------------------
Control Panel css
*/

.div-control-panel {
    display: inline-block;
    position: relative;
    height: 150px;
    width: 200px;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    border-color: lightgray;
    padding: 10px;
    margin: 30px;
}

.div-control-panel:hover {
    background-color: lightgray;
}

.div-text-control-panel {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.img-profile {
    position: absolute;
    top: 30%;
    left: 22%;
    height: 120px;
    width: 120px;
}




/*
-----------------------------------------------------------------------------
Auction css
*/


.img-product {
   border-radius: 50%;
   height: 60px;
   width: 60px;
}
/*
.table-users {
   border: 1px solid darken(#398B93, 5%);
   border-radius: 10px;
   box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
   max-width: calc(100% - 2em);
   overflow: hidden;
   width: 100%;
}
*/
table {
   width: 100%;
}
   
   td {
      text-align: center;
      vertical-align: middle;
      color: #398B93;
      padding: 10px;
   }
   
   th { 
      background-color: #398B93;
      font-weight: 300;
      color: #398B93;
      padding: 10px;
   }

   tr:nth-child(even){ background-color: white; }
   tr:nth-child(odd){ background-color: lighten(#398B93, 55%) }

   